{% block menu %}
    <ul>
        <li><a href="{{ path("test_homepage") }}">path1</a></li>
        <li><a href="{{ path("test_page2") }}">page2</a></li>
        <li><a href="{{ path("test_page3") }}">page3</a></li>
    </ul>
{% endblock %}
